input{
    margin: 20px;
    height: 80px;
    width: 30%;
    
}

.button{
    margin-right: 150px;
    padding: 0px 25px;
    font-size: 1.5rem;
    font-weight: 800;
}
li{
    margin-top: 20px;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}
.task{
    display: flex;
    justify-content: space-between;
}
.btn{
    margin-right: 150px;
    padding: 0px 25px;
    font-size: 1.5rem;
    font-weight: 800;
    
}


